@import "tailwindcss";

:root {
  --primary: #ba0c2f;   /* modern red */
  --black: #0a0a0a;
  --white: #ffffff;
  --gray: #f6f6f6;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: system-ui, sans-serif;
}